<div class="container" id="projects">
    <h1 class="section-title"> Projects </h1>
    <p class="section-text">
        My projects
    </p>

    <div class="projects grid">
        <div class="project col-12 md:col-12 lg:col-6 xl:col-6">
            <div class="project-img">
                <h2> Projecto </h2>
                <img src="../../../assets/img/overlay.jpg" alt="">
            </div>
            <div class="project-info">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae blanditiis ea aliquam animi sed dolore quod autem velit suscipit quasi corrupti, error cum numquam temporibus ipsum nam obcaecati, praesentium quam?</p>
                <div class="actions">
                    <button class="green-btn"> Live demo </button>
                    <button class="red-btn"> Repository </button>
                </div>
            </div>

        </div>
        <div class="project col-12 md:col-12 lg:col-6 xl:col-6">
            <div class="project-img">
                <h2> Projecto </h2>
                <img src="../../../assets/img/overlay.jpg" alt="">
            </div>
            
            <div class="project-info">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae blanditiis ea aliquam animi sed dolore quod autem velit suscipit quasi corrupti, error cum numquam temporibus ipsum nam obcaecati, praesentium quam?</p>
                <div class="actions">
                    <button class="green-btn"> Live demo </button>
                    <button class="red-btn"> Repository </button>
                </div>
            </div>
        </div>

        <div class="project col-12 md:col-12 lg:col-6 xl:col-6">
            <div class="project-img">
                <h2> Projecto </h2>
                <img src="../../../assets/img/overlay.jpg" alt="">
            </div>

            <div class="project-info">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae blanditiis ea aliquam animi sed dolore quod autem velit suscipit quasi corrupti, error cum numquam temporibus ipsum nam obcaecati, praesentium quam?</p>
                <div class="actions">
                    <button class="green-btn"> Live demo </button>
                    <button class="red-btn"> Repository </button>
                </div>
            </div>
        </div>

        <div class="project col-12 md:col-12 lg:col-6 xl:col-6">
            <div class="project-img">
                <h2> Projecto </h2>
                <img src="../../../assets/img/overlay.jpg" alt="">
            </div>
            
            <div class="project-info">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae blanditiis ea aliquam animi sed dolore quod autem velit suscipit quasi corrupti, error cum numquam temporibus ipsum nam obcaecati, praesentium quam?</p>
                <div class="actions">
                    <button class="green-btn"> Live demo </button>
                    <button class="red-btn"> Repository </button>
                </div>
            </div>
        </div>
    </div>
</div>