@use 'variables' as v;

.title {


    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: v.$white;
    margin: 1.5rem 0;

    h2 { margin: 0; }

    mat-icon { color: v.$green; }

}

.projects {
    color: v.$white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: end;

    @media screen and (max-width: 850px) {
        grid-template-columns: 1fr;
    }

    .project {
        padding: 1rem;
        // @media screen and (max-width: 1200px) {
        //     padding: 1rem;
        // }
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(.97);
            transition: all .3s ease-in-out;
        }

        &:hover .project-img:before {
            transition: all .3s ease-in-out;
            content: '';
            position:absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(0deg, rgba(8,18,33,1) 0%, rgba(8,18,33,0.30902783476671913) 100%);
        }
        &:hover .project-img h2 {
            color: v.$white;
            transition: all .3s ease-in-out;
            opacity: 100%;
        }

        .project-img {
            position: relative;
            // border: 2px solid v.$white;
            // padding: 3rem;
            .project-img {
                
                transition: all .3s ease-in-out;
                
            }
            img {
                max-width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                    
                // padding: .5rem;
                object-fit: cover;
            }
    
            h2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: all .3s ease-in-out;
                z-index: 10;
            }
            
        }

        .project-info {
            padding: 1.5rem;
            background-color: v.$background2;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            .actions {
                display: flex;
                flex-direction: column;
                align-items:center;
                margin-top: 1rem;

                button {
                    width: 100%;
                    margin: .5rem 0;
                    padding: .5rem;
                    border-radius: 5px;
                    background-color: v.$background2;
                }

                a {
                    width: 100%;
                }
            }

            .project-skills {
                gap: 1rem;
                margin: 1rem 0;

                .skill {
                    text-align: center;
                    color: v.$background;
                    background-color: v.$white;
                    border-radius: 30px;
                    padding: .3rem;
                    font-size: .8rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        
    }

}

.blue-btn {
    color: v.$light-blue;
    border: 1px solid v.$light-blue;
    transition: all .3s ease;

    &:hover {
        background-color: v.$light-blue !important;
        color: v.$white;
        transition: all .3s ease;
    }
}

.red-btn {
    color: v.$light-red;
    border: 1px solid v.$light-red;
    transition: background-color .3s ease;

    &:hover {
        background-color: v.$light-red !important;
        color: v.$white;
        transition: background-color .3s ease;
    }
}

.edit-icon {
    color: v.$yellow;
}

.delete-icon {
    color: v.$red;
}

.alert-card {
    color: v.$white;
    background-color: v.$red;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 10px;
}