<div class="container" id="projects">
    <div class="section-title">
        <h2> Projects </h2>
        <button mat-icon-button (click)="openNewProjectDialog()"><mat-icon>add_circle_outline</mat-icon></button>
    </div>
    <p class="section-text">
        My projects
    </p>

    <div class="projects grid">
        <div class="project col-12 md:col-12 lg:col-6 xl:col-6" *ngFor="let project of dataProjects">
            <div class="project-img">
                <h2> {{ project.title }} </h2>
                <img [src]="project.urlImg" alt="">
            </div>
            <div class="project-info">
                <p>{{ project.description }}</p>

                <div class="project-skills grid">
                    <div 
                        class="skill col-6 md:col-3 lg:col-3 xl:col-3" 
                        *ngFor="let skill of project.skills.split(',')"
                        [matTooltip]="skill"
                    > 
                        {{ skill }} 
                    </div>
                </div>

                <div class="actions">
                    <a [href]="project.urlDemo"><button class="red-btn"> Live demo </button></a>
                    <a [href]="project.urlRepo"><button class="blue-btn"> Repository </button></a>
                </div>
            </div>
            <div *ngIf="isLogged" class="project-actions">
                <button mat-icon-button (click)="openEditProjectDialog(project.id, project.title, project.description, project.skills, project.urlImg, project.urlDemo, project.urlRepo)"> <mat-icon class="edit-icon"> edit </mat-icon> </button>
                <button mat-icon-button (click)="openConfirmationProject(project.id)"> <mat-icon class="delete-icon"> delete </mat-icon> </button>
            </div>
        </div>

        <mat-card class="alert-card" *ngIf="noDataProject">
            <i matTooltip="Sorry, there is probably any problem with the server." class="fa-solid fa-triangle-exclamation fa-xl"></i>
            <mat-card-content> There is no projects available. </mat-card-content>
        </mat-card>
    </div>
</div>