@use 'variables' as v;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    color: v.$white;
    width: 80%;
    margin: 0;
    background-color: v.$background2;
    padding: 3rem;

    @media only screen and (max-width: 850px) {
        padding: 2rem;
        width: 100%;
    }

    border-radius: 20px;
}

.form {
    padding-top: 2rem;
    align-items: center;
    width: 100%;

    border-radius: 10px;
    background-color: v.$background2;

    input, textarea {
        background-color: v.$background;
        color: v.$white;
        border: none;
        border-radius: 8px;
        padding: .5rem;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        width: 100%;
        transition: all 0.3s;
        resize: none;
    }

    input:focus, textarea:focus, input:hover, textarea:hover {
        outline: none;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.369);
    }

}

.send {
    padding: .3rem;
    width: 10rem;

    @media only screen and (max-width: 850px) {
        width: 100%;
    }

    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: v.$grey;
    transition: .3s ease-out;
    margin-bottom: 1rem;
}

.send:hover {
    background-color: v.$white;
    transition: .3s ease-in;
}