@use "variables" as v;



// .aboutme-content {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }

.title {

    display: flex;
    gap: .5rem;
    align-items: center;
    color: v.$white;
    margin: 1.5rem 0;

    h2 { margin: 0; }

    mat-icon { color: v.$green; }

}

.custom-card {
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 2rem;
    border: none;
    

    @media only screen and (max-width: 850px) {
        display: flex;
        flex-direction: column;
    }

    & > div {
        padding: .5rem;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;

    }

    &-title {
        background-color: v.$primary;
        color: v.$white;
        h3 {font-size: 1.3rem;}
    }

    &-content {
        background-color: v.$background;
        color: v.$white;

    }

    
    &-subtitle {
        color: v.$white;
        font-style: italic;
    }

    &-actions {
        padding: 0;
        margin: 0;
    }



}

// mat-card {

//     background-color: v.$background;
//     color: v.$white;
//     border: 1px solid v.$light-blue;
//     border-radius: 5px;
//     margin: .5rem;

//     mat-card-title {

//         display: flex;
//         font-size: large;
//         align-items: center;
//         justify-content: space-between;
//         margin-top: -1.5rem;
//         margin-bottom: 0;
//     }


//     mat-card-subtitle {
//         color: v.$white;
//         font-style: italic;
//     }

//     mat-card-actions {
//         display: flex;
//     }
// }



.edit-icon {
    color: v.$yellow;
}

.delete-icon {
    color: v.$red;
}

.alert-card {
    background-color: v.$red;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 10px;
}
