<div class="container" id="aboutme">
    <h1 class="section-title"> About me </h1>
    <p class="section-text">
        I love computing and the vast number of fields it
        encompasses. Therefore, I really want to learn new
        knowledge.
        I am interested in improving my current skills in leading
        programming languages such as Python or Java.
        In my spare time, I like to go to the gym, play video games
        and go out with my friends.
    </p>


    <div class="education">
        <div class="title">
            <h2 class="section-subtitle">Educational Background</h2>
            <button *ngIf="isLogged" mat-icon-button (click)="openNewEducationDialog()"><mat-icon>add_circle_outline</mat-icon></button>
            <div class="line"></div>
        </div>


        <div *ngFor="let e of dataEducation">

            <div class="custom-card">
                <div class="col-12 custom-card-title">
                    <h3> {{e.title}} </h3> 
                </div>
                <div class="col-12 custom-card-content">
                    <p class="custom-card-subtitle"> {{e.subtitle}} </p> 
                    <p class="custom-card-subtitle"> {{e.period}} </p>
                    <p class="custom-card-description"> {{e.description}} </p>
                </div>
                <div *ngIf="isLogged" class="col-12 custom-card-actions">
                    <button mat-icon-button (click)="openEditEducationDialog(e.id, e.title, e.subtitle, e.period, e.description)"> <mat-icon class="edit-icon"> edit </mat-icon> </button>
                    <button mat-icon-button (click)="openConfirmationEducation(e.id)"> <mat-icon class="delete-icon"> delete </mat-icon> </button>
                </div>
            </div>

            <!-- <mat-card-title> 
                <p> {{e.title}} </p> 
                <mat-card-actions>
                    <button mat-icon-button (click)="openEditEducationDialog(e.id, e.title, e.subtitle, e.period, e.description)"> <mat-icon class="edit-icon"> edit </mat-icon> </button>
                    <button mat-icon-button (click)="openConfirmationEducation(e.id)"> <mat-icon class="delete-icon"> delete </mat-icon> </button>
                </mat-card-actions>
            </mat-card-title>
            <mat-card-subtitle> {{e.subtitle}} </mat-card-subtitle> 
            <mat-card-subtitle> {{e.period}} </mat-card-subtitle>
            <mat-card-content> {{e.description}} </mat-card-content> -->

        </div>

        <mat-card class="alert-card" *ngIf="noDataEducation">
            <i matTooltip="Sorry, there is probably any problem with the server." class="fa-solid fa-triangle-exclamation fa-xl"></i>
            <mat-card-content> There is no education entries available. </mat-card-content>
        </mat-card>
    </div> <!-- .education -->

    <div class="work">
        <div class="title">
            <h2 class="section-subtitle">Employment History</h2>
            <button *ngIf="isLogged" mat-icon-button (click)="openNewEmploymentDialog()"><mat-icon>add_circle_outline</mat-icon></button>
            <div class="line"></div>
        </div>
        <div *ngFor="let e of dataEmployment">

            <div class="grid custom-card">
                <div class="col-12 custom-card-title">
                    <h3> {{e.title}} </h3> 
                </div>
                <div class="col-12 custom-card-content">
                    <p class="custom-card-subtitle"> {{e.subtitle}} </p> 
                    <p class="custom-card-subtitle"> {{e.period}} </p>
                    <p class="custom-card-description"> {{e.description}} </p>
                </div>
                <div *ngIf="isLogged" class="col-12 custom-card-actions">
                    <button mat-icon-button (click)="openEditEmploymentDialog(e.id, e.title, e.subtitle, e.period, e.description)"> <mat-icon class="edit-icon"> edit </mat-icon> </button>
                    <button mat-icon-button (click)="openConfirmationEmployment(e.id)"> <mat-icon class="delete-icon"> delete </mat-icon> </button>
                </div>
            </div>
        </div>
        <mat-card class="alert-card" *ngIf="noDataEmployment">
            <i matTooltip="Sorry, there is probably any problem with the server." class="fa-solid fa-triangle-exclamation fa-xl"></i>
            <mat-card-content> There is no education entries available. </mat-card-content>
        </mat-card>
    </div>

    

</div>
    