@use "variables" as v;



// .aboutme-content {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }

.title {

    display: flex;
    gap: .5rem;
    align-items: center;
    flex-direction: row-reverse;
    color: v.$white;
    margin: 3rem 0 1rem 0;

    h2 { margin: 0; }

    mat-icon { color: v.$green; }

}

.custom-card {
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 2rem;
    border: none;
    

    @media only screen and (max-width: 850px) {
        display: flex;
        flex-direction: column;
    }

    & > div {
        padding: .5rem;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;

    }

    &-title {
        
        background-color: v.$background;
        border-bottom: 2px solid v.$primary;
        color: v.$white;
        h3 {font-size: 1.1rem;}
    }

    &-content {
        background-color: v.$background;
        color: v.$white;

    }

    
    &-subtitle {
        color: v.$white;
        font-style: italic;
    }

    &-actions {
        padding: 0;
        margin: 0;
    }
}

.edit-icon {
    color: v.$yellow;
}

.delete-icon {
    color: v.$red;
}

.alert-card {
    color: v.$white;
    background-color: v.$red;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 10px;
}

.line {
    background-color: v.$white;
    width: 100%;
    height: .1rem;
}

.section-subtitle {
    min-width: 17rem;
    margin: 0;
}
