@use "variables" as v;

.title-container{

    background-image: url('../../../assets/img/overlay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: v.$white;
    width: 100%;
    padding: 2rem;


    .title{
        font-family: v.$main;
        font-size: 3.2rem;
        font-weight: v.$main-bold;
        letter-spacing: .15rem;
    }
    
    .subtitle {
        font-family: v.$secondary;
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .wrapper {
        color: v.$white;
        font-family: v.$secondary;
        font-size: 2rem;
        width: 100%;
    }

    .actions {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;

        button {
            color: v.$white;
            background-color: transparent;
            border: none;
            transition: all .3s ease;
            padding: .5rem .8rem;
            border-radius: 5px;
        }

        button:hover {
            border: none;
            background-color: v.$background;
        }
    }

}

