
<div class="title-container" id="home">
    <ul>
        <li>
            <h1 class="title"> Hi! My name is Franco Exequiel Schüler </h1>
        </li>

        <li>
            <div class="wrapper">
                <span class="subtitle"></span>
            </div>
            <!-- <p class="subtitle"> Junior Web Developer </p> -->
        </li>
        <li>
            <div class="actions">
                <button (click)="onClickScroll('contactme')"> Contact me </button>
                <button [matMenuTriggerFor]="menu"> Download CV </button>
                <mat-menu #menu="matMenu">
                    <a href="/assets/files/CV_SPANISH_14012023_FrancoExequielSchuler.pdf" download> <button mat-menu-item>Spanish</button> </a>
                    <a href="/assets/files/CV_ENGLISH_14012023_FrancoExequielSchuler.pdf" download> <button mat-menu-item>English</button> </a>
                </mat-menu>
            </div>
        </li>
    </ul>


</div>

<app-aboutme></app-aboutme>

<app-skills></app-skills>

<app-projects></app-projects>

<app-contactme></app-contactme>




