
<div class="title-container" id="home">
    <ul>
        <li>
            <h1 class="title"> Hi! I'm Franco Exequiel Schüler </h1>
        </li>

        <li>
            <p class="subtitle"> Junior Fullstack Developer </p>
        </li>
        <li>
            <div class="actions">
                <button (click)="onClickScroll('contactme')" mat-raised-button> Contact me! </button>
                <button mat-raised-button> Download CV </button>
            </div>
        </li>
    </ul>


</div>

<app-aboutme></app-aboutme>

<app-skills></app-skills>

<app-projects></app-projects>

<app-contactme></app-contactme>




