@use 'variables' as v;




.progress-bar-frontend {
    background-color: v.$red;
}

.progress-bar-backend {
    background-color: v.$darkgreen;
}

.progress-bar-others {
    background-color: v.$light-blue;
}

.skill {
    margin-bottom: 2rem;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;

    .skill-icon-name {
        display: flex;
        align-items: center;
        gap: .7rem;
    }

    .skill-name {
        font-size: 1rem;
        color: v.$white;
    }
}

h3 {
    margin: 0;
}

i {
    color: v.$white;

}

.title {

    display: flex;
    gap: .5rem;
    align-items: center;
    color: v.$white;
    margin: 1.5rem 0;

    h2 { margin: 0; }

    mat-icon { color: v.$green; }

}

.edit-icon {
    color: v.$yellow;
}

.delete-icon {
    color: v.$red;
}

.alert-card {
    background-color: v.$red;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 10px;
    color: v.$white;
}

.skill-name {
    font-family: v.$secondary;
    font-weight: v.$secondary-bold;
    font-size: 1.2rem;
}
