<h2 *ngIf="confirmationType != 'logout'" mat-dialog-title> Are you sure you want to delete the selected {{confirmationType}}? </h2>
<h2 *ngIf="confirmationType === 'logout' || confirmationType === 'send'" mat-dialog-title> Are you sure you want to {{confirmationType}}? </h2>


<mat-dialog-actions *ngIf="confirmationType === 'education'">
  <button mat-button (click)="cancel()"> No, go back </button>
  <button mat-button (click)="deleteEducation()"> Yes </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="confirmationType === 'employment'">
  <button mat-button (click)="cancel()"> No, go back </button>
  <button mat-button (click)="deleteEmployment()"> Yes </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="confirmationType === 'skill'">
  <button mat-button (click)="cancel()"> No, go back </button>
  <button mat-button (click)="deleteSkill()"> Yes </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="confirmationType === 'project'">
  <button mat-button (click)="cancel()"> No, go back </button>
  <button mat-button (click)="deleteProject()"> Yes </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="confirmationType === 'logout'">
  <button mat-button (click)="cancel()"> No, go back </button>
  <button mat-button (click)="logout()"> Yes </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="confirmationType === 'send'">
  <button mat-button (click)="cancel()"> No, go back </button>
  <button mat-button (click)="send()"> Yes </button>
</mat-dialog-actions>
