@use "variables" as v;

@import "primeflex/primeflex.css";
html {
    box-sizing: border-box;
    }
*, *:before, *:after {
    box-sizing: inherit;
}
html, body { 
    height: 100%;
}

body { 
    margin: 0;

}

p, h1, h2, h3, h4 {
    color: v.$white;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: v.$white;
}

a:hover{
    cursor: pointer;
}

.section-title {
    font-family: v.$main;
    font-weight: v.$main-bold;
    font-size: 2rem;
}

.section-subtitle {
    font-family: v.$main;
    font-weight: v.$main-bold;
    font-size: 1.5rem;
}

.container {
    padding: 6rem;

    @media only screen and (max-width: 850px) {
        padding: 2rem;
    }
}




