@use "variables" as v;

@import "primeflex/primeflex.css";
html {
    box-sizing: border-box;
    }
*, *:before, *:after {
    box-sizing: inherit;
}
html, body { 
    height: 100%;

}

body { 
    margin: 0;


}

p, h1, h2, h3, h4 {
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: v.$white;
}

a:hover{
    cursor: pointer;
}

.section-title {
    font-family: v.$main;
    font-weight: v.$main-bold;
    font-size: 2rem;
    color: v.$white;
}

.section-text {
    color: v.$white;
    font-family: v.$main;
}

.section-subtitle {
    font-family: v.$main;
    font-weight: v.$main-bold;
    font-size: 1.5rem;
}

.container {
    padding: 6rem;
    min-width: 100%;
    margin: 0;
    @media only screen and (max-width: 850px) {
        padding: 2rem;
    }

    background-color: v.$background2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: v.$background;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: v.$grey;
    border-radius: 100px;
}





