
// COLORS
$background: #040b16;

$primary: #0c1b34;
$white: #f7fff7;
$grey: #dcdcdd;
$light-blue: #1e8fcd;
$green: #b9fbc0;
$darkgreen: #3ab795;
$red: #ef476f;
$yellow: #ffd166;
$darkyellow: #eeba0b;

// FONTS

$main: 'Lato', sans-serif;
$main-light: 300;
$main-regular: 400;
$main-bold: 700;
$secondary: 'Noto Sans Mono', monospace;
$secondary-light: 300;
$secondary-regular: 400;
$secondary-bold: 600;
